/* index.css */

/* Đặt chiều cao full cho body */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Custom background gradient (nếu bạn muốn dùng thay vì inline style) */
body {
    background: linear-gradient(to bottom right, #cce4f6, #bbc5f5);
}

/* Tạo một class .cursor-pointer nếu bạn hay dùng */
.cursor-pointer {
    cursor: pointer;
}

/* Class bo góc mạnh tay hơn Bootstrap */
.rounded-super {
    border-radius: 2rem;
}

/* Tuỳ chỉnh font-size, line-height... */
.text-xxl {
    font-size: 2rem;
    line-height: 2.5rem;
}

/* ...bạn có thể viết nhiều class tuỳ nhu cầu */